* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

input:focus,
select:focus {
  outline: none;
}

ul li {
  list-style: none;
}

/* --------- */
.container {
  padding: 1.6rem;
}

/* --------- */
input,
select {
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

/* --------- */
.list {
  width: 100%;
  font-size: 1.8rem;
}

.list .anime {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: 0.1rem solid;
  margin-bottom: 0.1rem;
  padding: 0.3rem;
}

.list .anime input {
  margin: 0;
  width: 2rem;
  font-size: 1.4rem;
}
